:root {
  --text-paragraph: "open san", sans-serif, arial;
  --text-heading: "comfortaa", sans-serif, arial;
  --primary-color: 131A22;
  --cart-btn-color: ##4a8999;
  --active-color: ##081727;
  --gray-background: ##f1f1f1;
  --call-to-action-btn-color: #dd8d4b;

  --box-shadow-small: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-large: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --green-color: #4bb543;
  --red-color: #dd0707;
}
