:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #f2f2f2;
  --product-bg-color: #3d3a3a;
  --h1-color: #07171f;
  --p-color: #000;
  --h1-fs: 40px;
  --h1-ff: "Poppins", sans-serif, arial;
  --button-color: #4bb543;
}
